legend{
	text-align:left;
	font-family: 'Logotype';
        display: inline-block;
        color: #97CEEC;
        font-family: 'Logotype';
        -webkit-font-smoothing: none;
        font-size: 1.3em;
        text-shadow: 2px 2px #45A7DD;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
        -moz-user-select: none;
}

#layer1 {
	padding-top:20px;
	text-align:center;
}


.footer{
	text-align:center;
	font-size: 11px;
}

#number * {
	font-size: 30px;
}

#counter_tail{
	color:#08738B;
	font-size:24px;
	font-family: 'Logotype';
        text-shadow: 2px 2px white;
}

#counter_requested{
	color:#39BD15;
	font-size:47px;
	font-weight:bold;
	font-family: 'Logotype';
        text-shadow: 2px 2px white;

}

#number{
	color:#363635;
	font-size:10px;
	font-weight:bold;
}

.hidde{
	display:none;
}

#interval1 {
	margin-top: 24px;
	margin-bottom: 24px;
}
fieldset {
	border: 0;
}

#table1 {
	margin-left: 5%;
	width: 90%;
	margin-top: 40px;
}
#table2 {
	margin-left: 5%;
	width: 90%;
	margin-top: 10px;
}

#target {
	width: 90%;
}


.red {
	color: red;
        text-shadow: 2px 2px white;
}
#msg {
	font-size: 30px;
	width: auto;
}

#hivebutton, #hiveURL {
	clear: left:
}
