body {
	font-family: 'Monda';
}
legend{
	text-align:left;
	font-family: 'Logotype';
        display: inline-block;
        color: #97CEEC;
        font-family: 'Logotype';
        -webkit-font-smoothing: none;
        font-size: 1.3em;
        text-shadow: 2px 2px #45A7DD;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
        -moz-user-select: none;
}

#sl0 { 
  background: transparent url("../img/chargin.png") repeat-y scroll 0 0;
  border-radius: 10px;
}

#layer1 {
	text-align:center;
}


.footer{
	text-align:center;
	font-size: 11px;
}
.footer a {
	color: red;
}

#number * {
	font-family: 'Logotype';
	font-size: 47px;
        text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

#counter_tail{
	color:#08738B;
}

#counter_requested{
	color:#39BD15;
	font-weight:bold;
}

#number{
	text-align: center;
	margin: 20px;
	color:#363635;
	font-size:10px;
	font-weight:bold;
}

.hidde{
	display:none;
}

#interval1 {
	margin-top: 24px;
	margin-bottom: 24px;
}
fieldset {
	border: 0;
}

#table1 {
	margin-top: 30px;
	width: 100%;
}
#table2 {
	width: 100%;
}

#target {
	width: 90%;
}


.red {
	color: red;
        text-shadow: -3px 0 white, 0 3px white, 3px 0 white, 0 -3px white;
}

#msg {
	font-size: 30px;
	width: auto;
	display: inline;
}

#radio1, #radio2 {
	font-size: 30px;
	display: inline;
	width: auto;
}

#hiveURL, #hivebutton {
	display: inline;
	width: auto;
}

#start {
	border: 9px solid pink;
	border-bottom-color: purple;
	border-right-color: purple;
	border-radius: 10px;
	font-family: 'Logotype';
	background: red;
	box-shadow: none;
	width: 320px;
	padding: 4px;
	color: pink;
        text-shadow: -2px -2px purple;	
}

#start:active {
	border: 9px solid pink;
	border-top-color: purple;
	border-left-color: purple;
        text-shadow: 2px 2px purple;	
}
